[*.cs]

# Disabled rules

dotnet_diagnostic.CA5350.severity = none
dotnet_diagnostic.CA5351.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1633.severity = none

# Require file scoped namespaces

csharp_style_namespace_declarations = file_scoped:warning
