name: Build
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Build
        run: dotnet build src/Hashx.slnx -c release /warnaserror
      - name: Test
        run: dotnet test src/Hashx.slnx
